# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/

# Environment and credentials
.env
credentials.txt

# Downloaded books
download/

# Docker
*.log
docker-compose.yml.bak
*.dockerignore
Dockerfile.bak

# IDE and editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db

# Virtual environments
venv/
env/