services:
  z-ui-migrator:
    build:
      context: ./z-ui
      dockerfile: dockerfile
      target: migrator
    image: z-ui-migrator
    container_name: z-ui-migrator
    command: ["bun", "run", "db:migrate"]
    env_file:
      - ./z-ui/.env
    networks:
      - caddy_net
    restart: "no"
  
  z-ui: 
    build:
      context: ./z-ui
      dockerfile: dockerfile
      target: runtime
    image: z-ui
    container_name: z-ui
    ports:
      - "5173:3000"
    environment:
      - PUBLIC_ZDL_URL=http://z-dl:6126
    volumes:
      - ./z-ui/src:/app/src
      - /app/node_modules   
    env_file:
      - ./z-ui/.env
    networks:
      - caddy_net
    depends_on:
      z-ui-migrator:
        condition: service_completed_successfully

networks:
  caddy_net:
    external: true
