version: '3.8'

services:
  z-ui:
    build:
      context: ./z-ui
      dockerfile: dockerfile
    image: z-ui
    container_name: z-ui
    ports:
      - "5173:3000"
    environment:
      - PUBLIC_ZDL_URL=http://z-dl:6126
    volumes:
      - ./z-ui/src:/app/src
      - /app/node_modules   
    env_file:
      - ./z-ui/.env
    networks:
      - znetwork

networks:
  znetwork:
    driver: bridge
