version: '3.8'

services:
  z-mg-runner:
    build:
      context: ./z-mg
      dockerfile: dockerfile
    image: z-mg-runner
    container_name: z-mg-runner
    command: ["deno", "task", "migrate"]
    env_file:
      - ./z-mg/.env
    networks:
      - znetwork
    restart: "no"
  
  z-ui: 
    build:
      context: ./z-ui
      dockerfile: dockerfile
    image: z-ui
    container_name: z-ui
    ports:
      - "5173:3000"
    environment:
      - PUBLIC_ZDL_URL=http://z-dl:6126
    volumes:
      - ./z-ui/src:/app/src
      - /app/node_modules   
    env_file:
      - ./z-ui/.env
    networks:
      - znetwork
    depends_on:
      z-mg-runner:
        condition: service_completed_successfully

networks:
  znetwork:
    driver: bridge