name: Deploy to VPS

on:
  push:
    branches:
      - master

jobs:
  deploy:
    name: Deploy to VPS
    runs-on: ubuntu-latest

    environment: prod

    steps:
      - name: SSH and Deploy
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USERNAME }}
          key: ${{ secrets.VPS_SSH_KEY }}
          port: 22 

          script: |
            cd /home/sudash/apps/z-dl
            
            sudo git config --global --add safe.directory /home/sudash/apps/z-dl
            
            sudo git pull origin master
            
            echo "${{ secrets.Z_MG_ENV }}" | sudo tee ./z-mg/.env > /dev/null
            echo "${{ secrets.Z_UI_ENV }}" | sudo tee ./z-ui/.env > /dev/null
            
            sudo docker compose build --no-cache
            sudo docker compose up -d --remove-orphans
            sudo docker image prune -f