name: Deploy to VPS

on:
  push:
    branches:
      - master

jobs:
  deploy:
    name: Deploy to VPS
    runs-on: ubuntu-latest
    environment: prod
    
    steps:
      - name: SSH and Deploy
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USERNAME }}
          key: ${{ secrets.VPS_SSH_KEY }}
          port: 22 

          script: |
            cd /home/ubuntu/z-dl

            git pull origin master

            echo "${{ secrets.Z_MG_ENV }}" > ./z-mg/.env

            echo "${{ secrets.Z_UI_ENV }}" > ./z-ui/.env

            docker-compose build --no-cache

            docker-compose up -d --remove-orphans

            docker image prune -f